<!DOCTYPE html>
<html>
    <head>
        <title>
            Squalo Solutions
        </title>
    </head>
    <body>
        <a href="/api">
        <button>Click to export in excel file!</button></a>
        <a href="/display"><button>Click to view the data</button></a>
    </body>
</html>